<div class="pr_nav text-center text-white">
  <h2>ng6-pagination</h2>
  <h3>Pagination for Angular 6</h3>
  <span class="badge badge-secondary">by @pradeeprawate</span>
</div>

<div class="container">
  <br>
  <h3>Pagination for Angular 6</h3>
  <p>Simple Pagination for Angular with Informative track of results as you switch between pages. </p>
  <hr>
  <h4>Demo Example</h4>
  <!-- Pagination Local -->
  <table class="table table-striped">
    <thead class="">
      <th class="index">#</th>
      <th class="column">Name</th>
      <th class="column">Company</th>
    </thead>
    <tbody>
      <tr *ngFor="let emp of employees | paginate : 5 : page; let i = index">
        <td>{{ 5 * (page - 1 ) + i + 1 }}</td>
        <td>{{ emp.Name}}</td>
        <td>{{ emp.Company}}</td>
      </tr>
      <tr class="text-center">
        <td colspan="3">
          <!-- Using Library -->
          <my-pagination *ngIf="employees.length > 0" [allItems]="employees" [pageSize]="5" (pageChange)="page = $event" [showInfo]="true"></my-pagination>

          <!-- Using Local Component -->
          <!-- <ng6-pagination *ngIf="employees.length > 0" [allItems]="employees" [pageSize]="5" [showInfo]="true" (pageChange)="page = $event"></ng6-pagination> -->
        </td>
      </tr>
    </tbody>
  </table>


</div>